*_fits/UncertPlots/
*_fits/organized_hists.root
*_fits/NMSSM-XHY-*_area/*.root
*_fits/NMSSM-XHY-*_area/plots_fit_*
*_fits/BACKUP*
*_fits/NMSSM-XHY-*_area/outs
*_fits/
*.txt
condor/bias
condor/limits
backup*
fits_of_VR_only/
plots/
*.root
sigs_missing.json
preapproval/*.pdf
preapproval/*.png
preapproval/*.root
preapproval/condor
